
@{
    /**/

    ViewBag.Title = "Detagli Componente";
}

<h2>Detagli Componente</h2>


<br />

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"><b>Componente:</b> @ViewBag.data.codice</h4>
        
    </div>
    <div class="panel-body">
        <p><b>Codice : </b> @ViewBag.data.descrizione</p>
        <p><b>Note : </b> @ViewBag.data.note</p>
           <h3>Carrello d'appertinenza</h3>
        <p><b>Matricola : @ViewBag.data.matricola</b> </p>
        <p><b>Posizione : [@ViewBag.data.areaStock] - [@ViewBag.data.locazione]</b></p>
   
    </div>
</div>



@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}